@tailwind base;
@tailwind components;
@tailwind utilities;

.md-position{
    
        background-image: url('img/b2.jpg');
        background-size: cover; /* Adjust as needed */
        background-repeat: no-repeat; /* Adjust as needed */
    
}